.pcolor1{color: #DFDFDF; font-size: 170%}
.pcolor2{color: #16549A; font-size: 18px}	
.link{color: #676767; font-size: 11px; font-family: font-family: Arial, Helvetica, sans-serif;	}
.link:hover{color: #2554F2}
.em{ color: #A80303; font-style: normal}
.help{color: #989898; font-size: 60%; font-family: font-family: Arial, Helvetica, sans-serif; margin:0px; text-align: right}
.ptext{color: #989898; font-size: 80%; font-family: font-family: Arial, Helvetica, sans-serif; text-align: justify; text-indent: 20px; margin-left: 40px; margin-top: 0px}	
.panswer{color: #4795F3; font-size: 80%; font-family: font-family: Arial, Helvetica, sans-serif; text-align: justify; margin-top: 10px}		
.ptdg{font-size: 75%;color: black;	font-family: font-family: Arial, Helvetica, sans-serif;	margin: 0px; text-indent: 0px}